body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #e6f7ff;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.auth-link {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1000;
}

.auth-link a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

header {
    margin-bottom: 20px;
}

h1 {
    font-size: 28px;
    color: #333;
}

.form-section {
    margin-bottom: 30px;
}

h2 {
    font-size: 22px;
    color: #555;
}

input[type="text"],
input[type="password"],
input[type="search"] {
    width: 80%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #b3d9ff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button {
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #b3d9ff;
    color: white;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #99ccff;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f0f8ff;
    color: #333;
}

tr:hover {
    background-color: #f9f9f9;
}

.delete-button {
    background-color: #d9534f;
    color: white;
    border-radius: 5px;
    padding: 8px 12px;
}

.delete-button:hover {
    background-color: #c9302c;
}

@media (max-width: 600px) {
    .container {
        padding: 10px;
    }

    input[type="text"],
    input[type="password"],
    input[type="search"],
    button {
        width: 100%;
    }
}