body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('/static/avt1.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 500px;
    padding: 20px;
}

.form-container {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    padding: 40px;
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(15px);
    text-align: center;
}

.form-title {
    font-size: 28px;
    margin-bottom: 10px;
    color: #333;
}

.form-subtitle {
    font-size: 16px;
    margin-bottom: 20px;
    color: #777;
}

.form-label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

.form-input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

.form-input:focus {
    border-color: #007BFF; /* Цвет рамки при фокусе */
    outline: none; /* Убираем стандартный контур */
}

.form-submit {
    width: 100%;
    background-color: #007BFF;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.form-submit:hover {
    background-color: #0056b3; /* Темнее при наведении */
}